This was my first time doing Ludum Dare and I have only been coding for a while, I understand that my code is messy. However,
I do have my own way of things, and this is what helps me, so I apologize for anything that may "unclear"

If it is "Unclear" to you of any part of the code, and/or you are wondering how something works, Please do get in contact with me
I will be 100% fine with you asking any questions. If you feel like you are bothering, just know I will not reply until I am
available and I usually don't do too much when it comes to on the computer

I do YouTube, And GameDevelopment and Intros for other people, I am not busy.

But feel free to contact me on my twitter here :

https://twitter.com/DILLIONonYT


I did record my expirence in a few videos listed here :
https://www.youtube.com/watch?v=w1wKBaVTmPA&ytbChannel=Jeffeeze
https://www.youtube.com/watch?v=GveGA7ZkS_M&t=25s
https://www.youtube.com/watch?v=rjbigE4222E
https://www.youtube.com/watch?v=zQ19dqeYVoc
https://www.youtube.com/watch?v=iapsju-lGc0

[Link For My Ludum Dare Game]
N/A
